*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #323232;
    border: none;
}
input, label{
    display:block;
    width: 100%;
}

input:focus, label:focus {
    outline: none;
}

.cadastro-all{
    padding-top: 5vh;
    background-image:url(../../assets/images/fundo.jpg);
    background-size: cover;
    width: 100%;
    height: 1000px;
}

.cadastro-registro{
    width:500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}
.cadastro-all h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cadastro-registro{
    flex: 1 1 100%;
    position: relative;
}
.cadastro-meiacaixa{
    flex: 1 1 45%;
    position: relative;
}
.spacing{
    margin-right: 2.5%;
}
label{
    font-weight: bold;
    font-size: .8rem;
}
input{
    border-bottom: 2px solid #323232;
    padding: 10px;  
    font-size: .9rem;
    margin-bottom:40px;
}
input:focus{
    border-color: yellow;
}
input[type="submit"]{
    background-color:yellow ;
    color: black;
    border: none;
    border-radius:20px ;
    height: 40px;
    cursor: pointer;
}
.cadastro-marcar{
    margin-right: 5px;
}
.cadastro-marcar, .cadastro-marcarl {
    display: inline-block;
    width: auto;
}