.jogo-all{
    background: none;
    border:none;
    background: url(../../assets/images/background.png);
    width: 100%;
    height: 1440px;
    margin:none;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.bkl{
    width: 100%;
    margin: none;
    border: none;
}
.jogo-tabela{
    background:yellow;
    padding: 70px;
    border-radius: 10px;
    border: solid 1px black;
}
.jogo-title{
    font-size: 50px;
    color: yellow;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #000;
}
.jogo-subtitle{
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:yellow;
}
.pergunta{
    margin-top: 5px;
    font-size: 25px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:yellow;
}
.s{
    margin-top: 5px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:yellow;
}
.sim{
    padding: 10px;
    background: yellow;
    border: solid 2px black;

}